In [1]:
def my_function(str):
    "This is a string"
    print(str)
    return
my_function("This is the string of the  function")
my_function("Apakah ini nyata")

This is the string of the  function
Apakah ini nyata

In [2]:
def tambah(a,b):
    return a+b

a = int(input("Masukkan a : "))
b= int(input("NMasukkan b : "))

print("Hasil Penjumlahan Adalah : ", tambah(a,b))

Masukkan a :  123
NMasukkan b :  123

Hasil Penjumlahan Adalah :  246

In [28]:
def changeme(mylist):
    "This is change a passed list into this function"
    mylist.append([1,2,3,4]);
    print("Values of this function :" , mylist)
    return

mylist = [10,20,30];
changeme(mylist);
print("Values of this function :" , mylist)

Values of this function : [10, 20, 30, [1, 2, 3, 4]]
Values of this function : [10, 20, 30, [1, 2, 3, 4]]

In [23]:
def changeme(mylist):
    "This is change a passed list into this function"
    mylist=[1,2,3,4];
    print("Values inside function :" , mylist)
    return

mylist = [10,20,30];
changeme(mylist);
print("Values outside the function :" , mylist)

Values inside function : [1, 2, 3, 4]
Values outside the function : [10, 20, 30]

##
## Function Argument

1. Requirement Argument

Jumlah Argumen dalam function definition harus sama dengan jumlah argument saat pemanggilan funtion

In [34]:
def printstr(str):
    "Ini mengembalikan print str pada function"
    print(str)
    return
printstr("Apa lihat lihat")

Apa lihat lihat

In [38]:
 def printinfo(name,age):
        "This prints pass info to the function"
        print("Name  :", name)
        print("Age   :" , age)
        return 
    
printinfo(name ='Gilbert', age=21)

Name  : Gilbert
Age   : 21

#### Default Arguments

In [47]:
 def printinfo(name,age=21,college = 'Brawijaya University' ):
        "This prints pass info to the function"
        print("Name    :", name)
        print("Age     :" , age)
        print('College :', college)
        return 
    
printinfo(name ='Gilbert', age=21)
printinfo(name = 'Angie')

Name    : Gilbert
Age     : 21
College : Brawijaya University
Name    : Angie
Age     : 21
College : Brawijaya University

Variable length arguments
Disaat argumen jumlahnya tidak pasti ( terdapat argumen selain require dan default)

In [57]:
def printinfo(arg1, *vartuple) : 
    "This print a variable pass to arguments"
    print('The output is :')
    print(arg1)
    for var in vartuple:
        print(var)
    return;
printinfo(10)
printinfo(10, 30, 46, 50,'a')

The output is :
10
The output is :
10
30
46
50
a

In [71]:
tambah = lambda arg1, arg2 : arg1 + arg2;
kali = lambda arg1,arg2 : arg1 * arg2;

# def sum(arg1, arg2):
#     arg1 + arg2

print('Hasil penjumlahan :', tambah( 10 , 20 ))
print('Hasil perkalian : ', kali(10,20))

Value total : 30
Hasil perkalian :  200

In [ ]:
# eceknya kalkulator

In [1]:
tambah = lambda arg1, arg2 : arg1 + arg2
kali = lambda arg1,arg2 : arg1 * arg2
kurang = lambda arg1,arg2 : arg1 - arg2
bagi = lambda arg1,arg2 : arg1 / arg2

print("Pilih operasi : " )
print("1. Tambah")
print("2. Kurang")
print("3. Kali")
print("4. Bagi")
        
while True :
    pilihan = int(input("Masukkan Pilihan : "))
    if pilihan>=1 and pilihan<=4:
        break
    print("Operasi tidak tersedia")
    print(ValueError)
    
if pilihan in range(1,5):
    arg1 = int(input('Masukkan angka pertama :'))
    arg2 = int(input('Masukkan angka kedua :'))
    
if pilihan==1:
    print("Hasil penjumlahan = ", tambah(arg1,arg2))
elif pilihan==2:
    print("Hasil pengurangan = ", kurang(arg1,arg2))
elif pilihan==3 :
    print("Hasil perkalian = ", kali(arg1,arg2))
else:
    print("Hasil pembagian = ", bagi(arg1,arg2))

Pilih operasi :
1. Tambah
2. Kurang
3. Kali
4. Bagi

Masukkan Pilihan :  12

Operasi tidak tersedia
<class 'ValueError'>

Masukkan Pilihan :  1
Masukkan angka pertama : 12
Masukkan angka kedua : 12

Hasil penjumlahan =  24

In [5]:
def hitungan(a):
    return a*150/2+515-1203

print('Hasil hitungan adalah : ',hitungan(20))

Hasil hitungan adalah :  812.0

In [17]:
def terbalik(str1,str2,str3):
    gabung = (str1 + ' ' + str2 + ' ' + str3) [::-1]
    # balik = gabung[::-1]
    return gabung.lower()

print(terbalik('Saya', 'Mau', 'Makan'))

nakam uam ayas

In [33]:
def fungsilah(listlah):
    tot_ganjil=0 # Placeholder yang mengcontain value. Karna belum diisi, 0 tidak akan berpengaruh dalam penjumlahan
    tot_genap = 0
    sum_ganjil = 0
    sum_genap = 0
    
    for i in listlah:
        if i%2==0:
            tot_genap +=1
            sum_genap += i
        else :
            tot_ganjil +=1
            sum_ganjil +=i
    
    print("Total angka ganjil : ", tot_ganjil)
    print("Total angka genap : ", tot_genap)
    print("Sum angka ganjil : ", sum_ganjil)
    print("Sum angka genap : ", sum_genap)
    
listlah = [12,32,11,31,45,1,2,3,4,5,99,87,66]

fungsilah(listlah)

Total angka ganjil :  8
Total angka genap :  5
Sum angka ganjil :  282
Sum angka genap :  116

In [34]:
dir()

['In',
 'Out',
 '_',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'fungsilah',
 'get_ipython',
 'hitungan',
 'listlah',
 'n',
 'quit',
 'terbalik']

In [1]:
import numpy as np

In [2]:
np.sqrt(9)

3.0

ModuleNotFoundError: No module named 'pkg'